.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #6c757d;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown i {
  cursor: pointer;
  font-size: 2em;
}
.dropdown .dropdown-content {
  border: 1px solid #6c757d;
  position: absolute;
  background-color: #1e1e1e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-content .header-button {
  color: #28a745;
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}
.dropdown .dropdown-content .header-button:hover {
  background-color: #333;
}
.dropdown .dropdown-content select {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #28a745;
}
.dropdown .dropdown-content select:hover {
  background-color: #333;
}
.dropdown .dropdown-content select option {
  background-color: #1e1e1e;
  color: #28a745;
}

.dropdown-content[v-show=dropdownOpen] {
  display: block;
}

.search-container {
  display: flex;
  align-items: center;
}
.search-container input[type=text] {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: #e0e0e0;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: 1px solid #6c757d;
}
.search-container input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid #28a745;
}
.search-container .search-bar {
  position: relative;
}
.search-container .search-bar .icon-button {
  position: absolute;
  right: 0.5rem;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: #333;
}
.icon-button:hover {
  color: #28a745;
}

.tag-select-container {
  margin: 0 40px;
  background-color: #1e1e1e;
  border: 1px solid #6c757d;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tag-select-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.tag-select-container .tag-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.tag-select-container .tag-item {
  display: flex;
  justify-content: space-between;
}
.tag-select-container .tag-item .checkbox-group {
  display: flex;
  gap: 5px;
}
.tag-select-container .tag-item .checkbox-group .icon {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  width: 16px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.tag-select-container .tag-item .checkbox-group .icon.include {
  color: #28a745;
}
.tag-select-container .tag-item .checkbox-group .icon.exclude {
  color: red;
}
.tag-select-container .tag-item .checkbox-group .icon.activeInclude {
  color: #ffffff;
  background-color: #28a745;
}
.tag-select-container .tag-item .checkbox-group .icon.activeExclude {
  color: #ffffff;
  background-color: red;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.pagination-controls button:hover:not(:disabled) {
  background-color: #218838;
  transform: translateY(-2px);
}
.pagination-controls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.manga-container {
  margin: 0 auto;
  padding: 20px;
}
.manga-container .chapter-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.manga-container .chapter-list .chapter-item {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.manga-container .chapter-list .chapter-item:hover {
  color: #28a745;
  border-color: #28a745;
}
.manga-container .chapter-list .chapter-item .chapter-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}
.manga-container .chapter-list .chapter-item .chapter-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
}
.manga-container .manga-details .manga-details-container {
  display: flex;
  align-items: flex-start;
}
.manga-container .manga-details .manga-details-container .image-container {
  position: relative;
}
.manga-container .manga-details .manga-details-container .image-container .cover-art {
  margin-right: 20px;
  overflow: hidden;
  max-height: 30vh;
  height: 100%;
  object-fit: cover;
}
.manga-container .manga-details .manga-details-container .image-container .favorite-button {
  position: absolute;
  top: 15px;
  right: 25px;
  background: none;
  border: none;
  color: gold;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.manga-container .manga-details .manga-details-container .image-container .favorite-button:focus {
  outline: none;
}
.manga-container .manga-details .manga-details-container .image-container .favorite-button i {
  pointer-events: none;
}
.manga-container .manga-details .manga-details-container .info {
  flex: 1;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.manga-container .manga-details .manga-details-container .info h1 {
  margin-top: 0;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.manga-container .manga-details .manga-details-container .info .label {
  font-weight: bold;
}
.manga-container .manga-details .manga-details-container .info .tag {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  color: black;
  text-shadow: none;
}
.manga-container .manga-details .manga-details-container .info .back-button, .manga-container .manga-details .manga-details-container .info .favorite-button {
  margin-top: 10px;
  margin-right: 10px;
}

.background-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
}
.background-container .background-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: blur(5px);
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
}
.breadcrumb a {
  color: #28a745;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb span {
  color: #e0e0e0;
}

.chapter-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.chapter-images div {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 10px;
}
.chapter-images div img {
  max-width: 40vw;
  height: auto;
}

.navigation-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.navigation-controls button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #28a745;
  color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
.navigation-controls button:hover {
  background-color: #218838;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #28a745;
}

.loading, .error {
  text-align: center;
  font-size: 18px;
  color: #6c757d;
}

ul {
  list-style: none;
  padding: 0;
}

.content {
  padding: 30px;
}

@media screen and (min-width: 1200px) {
  .manga-list {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
  }
  .manga-list .card {
    border-radius: 15px;
    background-color: #545b62;
    transition: background-color 0.3s, transform 0.3s;
    grid-column: span 1;
  }
  .manga-list .card:hover {
    transform: scale(1.05);
  }
  .manga-list .card .manga-cover {
    width: 100%;
    aspect-ratio: 2/3;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
  }
  .manga-list .card .manga-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
  }
}
@media screen and (max-width: 1200px) {
  .manga-list {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
  }
  .manga-list .card {
    border-radius: 15px;
    background-color: #545b62;
    transition: background-color 0.3s, transform 0.3s;
    grid-column: span 1;
  }
  .manga-list .card:hover {
    transform: scale(1.05);
  }
  .manga-list .card .manga-cover {
    width: 100%;
    aspect-ratio: 2/3;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
  }
  .manga-list .card .manga-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
  }
}
@media screen and (max-width: 991px) {
  .manga-list {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
  }
  .manga-list .card {
    border-radius: 15px;
    background-color: #545b62;
    transition: background-color 0.3s, transform 0.3s;
    grid-column: span 1;
  }
  .manga-list .card:hover {
    transform: scale(1.05);
  }
  .manga-list .card .manga-cover {
    width: 100%;
    aspect-ratio: 2/3;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
  }
  .manga-list .card .manga-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
  }
}
@media screen and (max-width: 767px) {
  .manga-list {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
  }
  .manga-list .card {
    border-radius: 15px;
    background-color: #545b62;
    transition: background-color 0.3s, transform 0.3s;
    grid-column: span 1;
  }
  .manga-list .card:hover {
    transform: scale(1.05);
  }
  .manga-list .card .manga-cover {
    width: 100%;
    aspect-ratio: 2/3;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
  }
  .manga-list .card .manga-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
  }
}
@media screen and (max-width: 575px) {
  .manga-list {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style: none;
  }
  .manga-list .card {
    border-radius: 15px;
    background-color: #545b62;
    transition: background-color 0.3s, transform 0.3s;
    grid-column: span 1;
  }
  .manga-list .card:hover {
    transform: scale(1.05);
  }
  .manga-list .card .manga-cover {
    width: 100%;
    aspect-ratio: 2/3;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
  }
  .manga-list .card .manga-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #e0e0e0;
  }
}

/*# sourceMappingURL=styles.css.map */
