<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Content</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
</head>
<body>
    <div id="app">
        <header-component
            :language="language"
            :available-languages="availableLanguages"
            :search-query="searchQuery"
            :show-tag-dropdown="showTagDropdown"
            :available-tags="availableTags"
            :included-tags="includedTags"
            :excluded-tags="excludedTags"
            @go-to-menu="goToMenu"
            @load-favorites="loadFavorites"
            @search-manga="searchManga"
            @toggle-tag-dropdown="toggleTagDropdown"
            @update-tag-selection="updateTagSelection"
        ></header-component>
        
        <div v-if="loading" class="loading">Loading...</div>
        <div v-if="error" class="error">{{ error.message }}</div>
        
        <main v-if="!loading && !error" class="content">
            <manga-list-component
                v-if="page=='home' || page=='favoris'"
                :manga-list="mangaList"
                :pagination="pagination"
                :page-range="pageRange"
                :current-page="currentPage"
                @load-selected-manga="loadSelectedManga"
                @prev-page="prevPage"
                @next-page="nextPage"
                @go-to-page="goToPage"
            ></manga-list-component>

            <manga-details-component
                v-if="selectedManga && !selectedChapter && page=='detail'"
                :manga-details="mangaDetails"
                :chapters="chapters"
                :favorite-manga="favoriteManga"
                :language="language"
                @go-to-menu="goToMenu"
                @toggle-favorite="toggleFavorite"
                @load-chapter-content="loadChapterContent"
            ></manga-details-component>

            <chapter-content-component
                v-if="selectedChapter && page=='chapter'"
                :chapter-images="chapterImages"
                :prev-chapter-id="prevChapterId"
                :next-chapter-id="nextChapterId"
                @load-chapter-content="loadChapterContent"
                @go-to-detail="goToDetail"
            ></chapter-content-component>
        </main>
    </div>
    <script type="module" src="./js/index.js"></script>
</body>
</html>