$bg-color: #1e1e1e;
$dark-bg-color: #121212;
$light-bg-color: #333;

$primary-color: #28a745; // green tint
$light-primary-color: #34d058; // green tint
$dark-primary-color: #218838; // green tint

$secondary-color: #6c757d;
$light-secondary-color: #8a8d91;
$dark-secondary-color: #545b62;

$font-color: #e0e0e0;
$font-color-light: #ffffff;
$font-family: Arial, sans-serif;
$font-size: 24px;
