@use 'config' as *;

.manga-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: $bg-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
        color: $font-color-light;
    }

    .back-button {
        display: inline-block;
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: $primary-color;
        color: $font-color-light;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: $dark-primary-color;
        }
    }

    .manga-details {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        img {
            aspect-ratio: 2/3;
            max-width: 20%;
            height: auto;
            border-radius: 8px;
        }

        .info {
            flex: 1;

            p {
                margin: 10px 0;
                color: $font-color;
            }

            .label {
                font-weight: bold;
                color: $font-color-light;
            }

            .tag {
                display: inline-block;
                background-color: $secondary-color;
                border-radius: 4px;
                padding: 5px 10px;
                margin-right: 5px;
                margin-bottom: 5px;
                color: $font-color-light;
            }
        }
    }

    .description {
        margin-top: 20px;
        color: $font-color;
    }

    .chapter-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 0;
        margin-top: 20px;
        list-style: none;

        .chapter-item {
            padding: 10px;
            background-color: $bg-color;
            border: 1px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: $light-bg-color;
            }
        }
    }
}