@use 'config' as *;

.manga-container {
    margin: 0 auto;
    padding: 20px;

    .chapter-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;

        list-style: none;
        padding: 0;
        margin: 0;
    
        .chapter-item {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s ease;
    
            &:hover {
                color: $primary-color;
                border-color: $primary-color;
            }
    
            .chapter-header {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                margin-bottom: 5px;
            }
    
            .chapter-details {
                display: flex;
                justify-content: space-between;
                font-size: 0.9em;
                color: #666;
            }
        }
    }

    .manga-details {
        .manga-details-container {
            display: flex;
            align-items: flex-start;
    
            .image-container {
                position: relative;
    
                .cover-art {
                    margin-right: 20px;
                    overflow: hidden;
                    max-height: 30vh;
                    height: 100%;
                    object-fit: cover;
                }
    
                .favorite-button {
                    position: absolute;
                    top: 15px;
                    right: 25px;
                    background: none;
                    border: none;
                    color: gold;
                    font-size: 1.5em;
                    cursor: pointer;

                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: black;
    
                    &:focus {
                        outline: none;
                    }
    
                    i {
                        pointer-events: none;
                    }
                }
            }
    
            .info {
                flex: 1;
                color: white;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    
                h1 {
                    margin-top: 0;
                    font-size: 2em;
                    color: white;
                    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
                }
    
                .label {
                    font-weight: bold;
                }
    
                .tag {
                    display: inline-block;
                    margin-right: 3px;
                    margin-left: 3px;
                    background-color: #f0f0f0;
                    padding: 2px 5px;
                    border-radius: 3px;
                    color: black;
                    text-shadow: none;
                }
    
                .back-button, .favorite-button {
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.background-container{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;

    .background-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        filter: blur(5px);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    }
}